# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


# API
NEXT_PUBLIC_API_URL=


NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=


NEXT_PUBLIC_GEMINI_API_KEY=

# YOUTUBE API KEY
NEXT_PUBLIC_YOUTUBE_API_KEY=

# UNSPLASH API KEY
NEXT_PUBLIC_UNSPLASH_CLIENT_ID=
